<!DOCTYPE html>
<html lang=te>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>ఫైళ్ళను ఇతర అనువర్తనాలతో తెరువుము</title>
<link rel="stylesheet" type="text/css" href="te.css">
<script type="text/javascript" src="jquery.js"></script><script type="text/javascript" src="jquery.syntax.js"></script><script type="text/javascript" src="yelp.js"></script>
</head>
<body id="home">
<script src="https://ssl.google-analytics.com/urchin.js" type="text/javascript"></script><script type="text/javascript">
        _uacct = "UA-1018242-8";
        urchinTracker();
      </script><script>
      function englishPageVersion() {

        var href = window.location.href;
	if (href.slice(-1) == "/") {
		window.location = "index.html.en";
	} else {
		window.location = href.replace(/\.html.*/, ".html.en");
	}
	 return false;
      }

      function browserPreferredLanguage() {
	var href = window.location.href;
	if (href.slice(-1) == "/") {
		window.location = href;
	} else {
		window.location = href.replace(/\.html.*/, ".html");
	}
	return false;
      }
      </script><div id="container">
<div id="container-inner">
<div id="mothership"><ul>
<li><a href="https://partners.ubuntu.com">Partners</a></li>
<li><a href="https://www.ubuntu.com/support/community-support">Support</a></li>
<li><a href="https://community.ubuntu.com">Community</a></li>
<li><a href="https://www.ubuntu.com">Ubuntu.com</a></li>
</ul></div>
<div id="header">
<h1 id="ubuntu-header"><a href="https://help.ubuntu.com/">Ubuntu Documentation</a></h1>
<ul id="main-menu">
<li><a class="main-menu-item current" href="../../">Official Documentation</a></li>
<li><a href="https://help.ubuntu.com/community/CommunityHelpWiki">Community Help Wiki</a></li>
<li><a href="https://community.ubuntu.com/t/contribute/26">Contribute</a></li>
</ul>
</div>
<div id="menu-search"><div id="search-box">
<noscript><form action="https://www.google.com/cse" id="cse-search-box"><div>
<input type="hidden" name="cx" value="003883529982892832976:e2vwumte3fq"><input type="hidden" name="ie" value="UTF-8"><input type="text" name="q" size="21"><input type="submit" name="sa" value="Search">
</div></form></noscript>
<script>
                document.write('<form action="../../search.html" id="cse-search-box">');
                document.write('  <div>');
                document.write('    <input type="hidden" name="cof" value="FORID:9">');
                document.write('    <input type="hidden" name="cx" value="003883529982892832976:e2vwumte3fq">');
                document.write('    <input type="hidden" name="ie" value="UTF-8">');
                document.write('    <input type="text" name="q" size="21">');
                document.write('    <input type="submit" name="sa" value="Search">');
                document.write('  </div>');
                document.write('</form>');
              </script>
</div></div>
<div class="trails" role="navigation"><div class="trail">
<span style="color: #333">Ubuntu 18.04</span> » <a class="trail" href="index.html.te" title="Ubuntu Desktop Guide"><span class="media"><span class="media media-image"><img src="figures/ubuntu-logo.png" height="16" width="16" class="media media-inline" alt="Help"></span></span> Ubuntu Desktop Guide</a> » <a class="trail" href="files.html.te" title="దస్త్రాలు, సంచయాలు &amp; వెతుకులాట">Files</a> › <a class="trail" href="files.html.te#more-file-tasks" title="More file-related tasks">More file-related tasks</a> » </div></div>
<div id="cwt-content" class="clearfix content-area"><div id="page">
<div id="content">
<div class="hgroup"><h1 class="title"><span class="title">ఫైళ్ళను ఇతర అనువర్తనాలతో తెరువుము</span></h1></div>
<div class="region">
<div class="contents">
<p class="p">When you double-click (or middle-click) a file in the file manager, it
  will be opened with the default application for that file type. You can open
  it in a different application, search online for applications, or set the
  default application for all files of the same type.</p>
<p class="p">To open a file with an application other than the default, right-click
  the file and select the application you want from the top of the menu. If
  you do not see the application you want, select <span class="gui">Open With Other
  Application</span>. By default, the file manager only shows applications that
  are known to handle the file. To look through all the applications on your
  computer, click <span class="gui">View All Applications</span>.</p>
<p class="p">If you still cannot find the application you want, you can search for
more applications by clicking <span class="gui">Find New Applications</span>. The
file manager will search online for packages containing applications
that are known to handle files of that type.</p>
</div>
<div id="default" class="sect"><div class="inner">
<div class="hgroup"><h2 class="title"><span class="title">అప్రమేయ అనువర్తనం మార్చుము</span></h2></div>
<div class="region"><div class="contents">
<p class="p">ఇచ్చిన రకపు ఫైళ్ళను తెరిచే అప్రమేయ అనువర్తనంను మీరు మార్చవచ్చు. మీరు ఫైలును తెరుచుటకు రెండుమార్లు-నొక్కునప్పుడు మీ అభీష్ట అనువర్తనం తెరుచుటకు ఇది మీకు సహాయపడును. ఉదాహరణకు, మీరు MP3 పైలును రెండుమార్లు-నొక్కినప్పుడు మీ అభీష్ట మ్యూజిక్ ప్లేయర్‌తో దానిని తెరవాలని అనుకోవచ్చు.</p>
<div class="steps"><div class="inner"><div class="region"><ol class="steps">
<li class="steps"><p class="p">మీరు దేని అప్రమేయ అనువర్తనం మార్చాలని అనుకొనుచున్నారో ఆ ఫైలు రకం ఎంపికచేయండి. ఉదాహరణకు, MP3 ఫైళ్ళను తెరుచుటకు ఏ అనువర్తనం ఉపయోగించాలో మార్చుటకు, <span class="file">.mp3</span> ఫైలు ఎంపికచేయి.</p></li>
<li class="steps"><p class="p">ఫైలు పై కుడి-నొక్కు నొక్కి <span class="gui">లక్షణాలు</span> ఎంపికచేయి.</p></li>
<li class="steps"><p class="p"><span class="gui">దీనితో తెరువు</span> టాబ్ ఎంపికచేయి.</p></li>
<li class="steps">
<p class="p">Select the application you want and click
    <span class="gui">Set as default</span>.</p>
<p class="p">If <span class="gui">Other Applications</span> contains an application you sometimes
    want to use, but do not want to make the default, select that application
    and click <span class="gui">Add</span>. This will add it to <span class="gui">Recommended
    Applications</span>. You will then be able to use this application by
    right-clicking the file and selecting it from the list.</p>
</li>
</ol></div></div></div>
<p class="p">ఇది ఎంపికచేసిన ఫైలుకు మాత్రమే కాకుండా అటువంటి ఫైళ్ళు అన్నిటికీ అప్రమేయ అనువర్తనంను మార్చును.</p>
</div></div>
</div></div>
<div class="sect sect-links" role="navigation">
<div class="hgroup"></div>
<div class="contents"><div class="links guidelinks"><div class="inner">
<div class="title"><h2><span class="title">మరింత సమాచారం</span></h2></div>
<div class="region"><ul><li class="links "><a href="files.html.te#more-file-tasks" title="More file-related tasks">More file-related tasks</a></li></ul></div>
</div></div></div>
</div>
</div>
<div class="clear"></div>
</div>
<div id="pagebottom"></div>
</div></div>
</div>
<div id="footer">
<p>You can choose the <b>displayed language</b> by adding a language suffix to the web address so it ends with e.g. <tt>.html.en</tt> or <tt>.html.de</tt>.<br>
          If the web address has no language suffix, the preferred language specified in your web browser's settings is used. For your convenience:<br>

          [ <a title="English page version" href="#" onClick="englishPageVersion();">Change to English Language</a> | 
          <a title="Language selected by browser" href="#" onClick="browserPreferredLanguage()">Change to Browser's Preferred Language</a> ]</p>
<p>The material in this document is available under a free license, see <a href="../../legal.html">Legal</a> for details.<br>
          For information on contributing see the <a href="https://wiki.ubuntu.com/DocumentationTeam">Ubuntu Documentation Team wiki page</a>.
          To report errors in this documentation, <a href="https://bugs.launchpad.net/ubuntu/+source/ubuntu-docs">file a bug</a>.</p>
</div>
</div>
</body>
</html>
