<!DOCTYPE html>
<html lang=te>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>పరిచయాలు</title>
<link rel="stylesheet" type="text/css" href="te.css">
<script type="text/javascript" src="jquery.js"></script><script type="text/javascript" src="jquery.syntax.js"></script><script type="text/javascript" src="yelp.js"></script>
</head>
<body id="home">
<script src="https://ssl.google-analytics.com/urchin.js" type="text/javascript"></script><script type="text/javascript">
        _uacct = "UA-1018242-8";
        urchinTracker();
      </script><script>
      function englishPageVersion() {

        var href = window.location.href;
	if (href.slice(-1) == "/") {
		window.location = "index.html.en";
	} else {
		window.location = href.replace(/\.html.*/, ".html.en");
	}
	 return false;
      }

      function browserPreferredLanguage() {
	var href = window.location.href;
	if (href.slice(-1) == "/") {
		window.location = href;
	} else {
		window.location = href.replace(/\.html.*/, ".html");
	}
	return false;
      }
      </script><div id="container">
<div id="container-inner">
<div id="mothership"><ul>
<li><a href="https://partners.ubuntu.com">Partners</a></li>
<li><a href="https://www.ubuntu.com/support/community-support">Support</a></li>
<li><a href="https://community.ubuntu.com">Community</a></li>
<li><a href="https://www.ubuntu.com">Ubuntu.com</a></li>
</ul></div>
<div id="header">
<h1 id="ubuntu-header"><a href="https://help.ubuntu.com/">Ubuntu Documentation</a></h1>
<ul id="main-menu">
<li><a class="main-menu-item current" href="../../">Official Documentation</a></li>
<li><a href="https://help.ubuntu.com/community/CommunityHelpWiki">Community Help Wiki</a></li>
<li><a href="https://community.ubuntu.com/t/contribute/26">Contribute</a></li>
</ul>
</div>
<div id="menu-search"><div id="search-box">
<noscript><form action="https://www.google.com/cse" id="cse-search-box"><div>
<input type="hidden" name="cx" value="003883529982892832976:e2vwumte3fq"><input type="hidden" name="ie" value="UTF-8"><input type="text" name="q" size="21"><input type="submit" name="sa" value="Search">
</div></form></noscript>
<script>
                document.write('<form action="../../search.html" id="cse-search-box">');
                document.write('  <div>');
                document.write('    <input type="hidden" name="cof" value="FORID:9">');
                document.write('    <input type="hidden" name="cx" value="003883529982892832976:e2vwumte3fq">');
                document.write('    <input type="hidden" name="ie" value="UTF-8">');
                document.write('    <input type="text" name="q" size="21">');
                document.write('    <input type="submit" name="sa" value="Search">');
                document.write('  </div>');
                document.write('</form>');
              </script>
</div></div>
<div class="trails" role="navigation"><div class="trail">
<span style="color: #333">Ubuntu 19.04</span> » <a class="trail" href="index.html.te" title="Ubuntu Desktop Guide"><span class="media"><span class="media media-image"><img src="figures/ubuntu-logo.png" height="16" width="16" class="media media-inline" alt="Help"></span></span> Ubuntu Desktop Guide</a> » <a class="trail" href="net.html.te" title="Networking, web &amp; email">Networking, web &amp; email</a> » </div></div>
<div id="cwt-content" class="clearfix content-area"><div id="page">
<div id="content">
<div class="hgroup"><h1 class="title"><span class="title">పరిచయాలు</span></h1></div>
<div class="region">
<div class="contents">
<p class="p">నిల్వవుంచుటకు, ఏక్సెస్ చేయుటకు లేదా మీ పరిచయాల కొరకు సమాచారం సరికూర్చుటకు, స్థానికంగా లేదా మీ <span class="link"><a href="accounts.html.te" title="ఆన్‌లైన్ ఖాతాలు">ఆన్‌లైన్ ఖాతాలు</a></span> నందు <span class="app">పరిచయాలు</span> వుపయోగించండి.</p>
<div class="links topiclinks"><div class="inner"><div class="region">
<div class="linkdiv "><a class="linkdiv" href="contacts-setup.html.te" title="మొదటిసారికి పరిచయాలను ప్రారంభించుట"><span class="title">మొదటిసారికి పరిచయాలను ప్రారంభించుట</span><span class="linkdiv-dash"> — </span><span class="desc">మీ పరిచయాలను స్థానిక చిరునామా పుస్తకం నందు లేదా ఆన్‌లైన్ ఖాతా నందు నిల్వవుంచండి.</span></a></div>
<div class="linkdiv "><a class="linkdiv" href="contacts-edit-details.html.te" title="పరిచయ వివరాలు సరికూర్చు"><span class="title">పరిచయ వివరాలు సరికూర్చు</span><span class="linkdiv-dash"> — </span><span class="desc">ప్రతి పరిచయం కొరకు సమాచారం సరికూర్చు.</span></a></div>
<div class="linkdiv "><a class="linkdiv" href="contacts-search.html.te" title="పరిచయం కొరకు అన్వేషించండి"><span class="title">పరిచయం కొరకు అన్వేషించండి</span><span class="linkdiv-dash"> — </span><span class="desc">పరిచయం కొరకు అన్వేషించండి.</span></a></div>
<div class="linkdiv "><a class="linkdiv" href="contacts-add-remove.html.te" title="పరిచయం జతచేయి లేదా తీసివేయి"><span class="title">పరిచయం జతచేయి లేదా తీసివేయి</span><span class="linkdiv-dash"> — </span><span class="desc">స్థానిక చిరునామా పుస్తకం నందు పరిచయం జతచేయి లేదా తీసివేయి.</span></a></div>
<div class="linkdiv "><a class="linkdiv" href="contacts-link-unlink.html.te" title="పరిచయాలు లింకు మరియు అన్‌లింక్ చేయి"><span class="title">పరిచయాలు లింకు మరియు అన్‌లింక్ చేయి</span><span class="linkdiv-dash"> — </span><span class="desc">బహుళ మూలాల నుండి పరిచయం కొరకు సమాచారాన్ని సంయుక్తపరచండి.</span></a></div>
<div class="linkdiv "><a class="linkdiv" href="contacts-connect.html.te" title="మీ పరిచయంతో సంప్రదించు"><span class="title">మీ పరిచయంతో సంప్రదించు</span><span class="linkdiv-dash"> — </span><span class="desc">పరిచయంకు ఈమెయిల్, చాట్, లేదా ఫోన్.</span></a></div>
</div></div></div>
</div>
<div class="sect sect-links" role="navigation">
<div class="hgroup"></div>
<div class="contents"><div class="links guidelinks"><div class="inner">
<div class="title"><h2><span class="title">మరింత సమాచారం</span></h2></div>
<div class="region"><ul><li class="links ">
<a href="net.html.te" title="Networking, web &amp; email">Networking, web &amp; email</a><span class="desc"> — <span class="link"><a href="net-wireless.html.te" title="Wireless networking">నిస్తంత్రి</a></span>, <span class="link"><a href="net-wired.html.te" title="Wired networking">తంత్రి</a></span>, <span class="link"><a href="net-problem.html.te" title="Network problems">అనుసంధాన సమస్యలు</a></span>, <span class="link"><a href="net-browser.html.te" title="Web browsers">జాల విహారణం</a></span>, <span class="link"><a href="net-email.html.te" title="Email &amp; email software">ఈమెయిలు ఖాతాలు</a></span>…</span>
</li></ul></div>
</div></div></div>
</div>
</div>
<div class="clear"></div>
</div>
<div id="pagebottom"></div>
</div></div>
</div>
<div id="footer">
<p style="padding-bottom: 0.4em">You can choose the <b>displayed language</b> by adding a language suffix to the web address so it ends with e.g. <tt>.html.en</tt> or <tt>.html.de</tt>.<br>
          If the web address has no language suffix, the preferred language specified in your web browser's settings is used. For your convenience:<br>

          [ <a title="English page version" href="#" onClick="englishPageVersion();">Change to English Language</a> | 
          <a title="Language selected by browser" href="#" onClick="browserPreferredLanguage()">Change to Browser's Preferred Language</a> ]</p>
<p>The material in this document is available under a free license, see <a href="../../legal.html">Legal</a> for details.<br>
          For information on contributing see the <a href="https://wiki.ubuntu.com/DocumentationTeam">Ubuntu Documentation Team wiki page</a>.
          To report errors in this documentation, <a href="https://bugs.launchpad.net/ubuntu/+source/ubuntu-docs">file a bug</a>.</p>
</div>
</div>
</body>
</html>
