<!DOCTYPE html>
<html lang=te>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>వాల్యూమ్లు మరియు విభజనలు నిర్వహించుము</title>
<link rel="stylesheet" type="text/css" href="te.css">
<script type="text/javascript" src="jquery.js"></script><script type="text/javascript" src="jquery.syntax.js"></script><script type="text/javascript" src="yelp.js"></script>
</head>
<body id="home">
<script src="https://ssl.google-analytics.com/urchin.js" type="text/javascript"></script><script type="text/javascript">
        _uacct = "UA-1018242-8";
        urchinTracker();
      </script><script>
      function englishPageVersion() {

        var href = window.location.href;
	if (href.slice(-1) == "/") {
		window.location = "index.html.en";
	} else {
		window.location = href.replace(/\.html.*/, ".html.en");
	}
	 return false;
      }

      function browserPreferredLanguage() {
	var href = window.location.href;
	if (href.slice(-1) == "/") {
		window.location = href;
	} else {
		window.location = href.replace(/\.html.*/, ".html");
	}
	return false;
      }
      </script><div id="container">
<div id="container-inner">
<div id="mothership"><ul>
<li><a href="https://partners.ubuntu.com">Partners</a></li>
<li><a href="https://www.ubuntu.com/support/community-support">Support</a></li>
<li><a href="https://community.ubuntu.com">Community</a></li>
<li><a href="https://www.ubuntu.com">Ubuntu.com</a></li>
</ul></div>
<div id="header">
<h1 id="ubuntu-header"><a href="https://help.ubuntu.com/">Ubuntu Documentation</a></h1>
<ul id="main-menu">
<li><a class="main-menu-item current" href="../../">Official Documentation</a></li>
<li><a href="https://help.ubuntu.com/community/CommunityHelpWiki">Community Help Wiki</a></li>
<li><a href="https://community.ubuntu.com/t/contribute/26">Contribute</a></li>
</ul>
</div>
<div id="menu-search"><div id="search-box">
<noscript><form action="https://www.google.com/cse" id="cse-search-box"><div>
<input type="hidden" name="cx" value="003883529982892832976:e2vwumte3fq"><input type="hidden" name="ie" value="UTF-8"><input type="text" name="q" size="21"><input type="submit" name="sa" value="Search">
</div></form></noscript>
<script>
                document.write('<form action="../../search.html" id="cse-search-box">');
                document.write('  <div>');
                document.write('    <input type="hidden" name="cof" value="FORID:9">');
                document.write('    <input type="hidden" name="cx" value="003883529982892832976:e2vwumte3fq">');
                document.write('    <input type="hidden" name="ie" value="UTF-8">');
                document.write('    <input type="text" name="q" size="21">');
                document.write('    <input type="submit" name="sa" value="Search">');
                document.write('  </div>');
                document.write('</form>');
              </script>
</div></div>
<div class="trails" role="navigation"><div class="trail">
<span style="color: #333">Ubuntu 19.04</span> » <a class="trail" href="index.html.te" title="Ubuntu Desktop Guide"><span class="media"><span class="media media-image"><img src="figures/ubuntu-logo.png" height="16" width="16" class="media media-inline" alt="Help"></span></span> Ubuntu Desktop Guide</a> » <a class="trail" href="hardware.html.te" title="హార్డ్‌వేర్ &amp; చోదకాలు">హార్డ్‌వేర్</a> » <a class="trail" href="disk.html.te" title="డిస్కులు మరియు నిల్వ">డిస్కులు మరియు నిల్వ</a> » </div></div>
<div id="cwt-content" class="clearfix content-area"><div id="page">
<div id="content">
<div class="hgroup"><h1 class="title"><span class="title">వాల్యూమ్లు మరియు విభజనలు నిర్వహించుము</span></h1></div>
<div class="region">
<div class="contents">
<p class="p">హార్డు డిస్కు వంటి నిల్వ పరికరం వివరించుటకు పదం <span class="em">వాల్యూమ్</span> ఉపయోగించబడెను. అది పరికరం నిల్వపైని <span class="em">భాగము</span> కూడా సూచించును, ఎంచేతంటే మీరు నిల్వను ముక్కలుగా కూడా విభజించవచ్చు. <span class="em">మౌంటింగ్</span> అనే ప్రోసెస్ వుపయోగించి ఫైల్ సిస్టమ్ ద్వారా ఈ నిల్వను ఎక్సెస్ చేయగల్గునట్లు కంప్యూటర్ చేయును. మౌంటైన వాల్యూమ్లు బహుశా హార్డు డ్రైవులు, USB డ్రైవులు, DVD-RWలు, SD కార్డులు, మరియు ఇతర మాధ్యమం. ఒక వాల్యూమ్ ప్రస్తుతం మౌంటై వుంటే, మీరు దానిపై ఫైళ్ళను చదువవచ్చు (సాధ్యమైతే వ్రాయవచ్చు).</p>
<p class="p">తరచుగా, మౌంటైన వాల్యూమ్ <span class="em">విభజన</span> గా పిలువబడును, అయినాకూడా అవి ఒకే విషయం కానక్కరలేదు. “విభజన” ఒక డిస్కు డ్రైవు పైని <span class="em">భౌతిక</span> నిల్వ ప్రాంతమును సూచించును. ఒకసారి విభజన మౌంటైన తరువాత, అది వాల్యూమ్‌గా రిఫర్ చేయవచ్చు ఎంచేతంటే మీరు దానిపైని ఫైళ్ళను ఏక్సెస్ చేయవచ్చును గనుక. మీరు వాల్యూమ్‌లను, విభజనల మరియు డ్రైవుల పనిచేస్తున్న “back rooms” లకు ఏక్సెస్ చేయగల “storefronts” గా భావించవచ్చు.</p>
</div>
<div id="manage" class="sect"><div class="inner">
<div class="hgroup"><h2 class="title"><span class="title">డిస్కు సౌలభ్యం వుపయోగించి వాల్యూమ్లు మరియు విభజనలు దర్శించండి మరియు నిర్వహించండి</span></h2></div>
<div class="region"><div class="contents">
<p class="p">You can check and modify your computer’s storage volumes with the disk
 utility.</p>
<div class="steps"><div class="inner"><div class="region"><ol class="steps">
<li class="steps"><p class="p">Open the <span class="gui">Activities</span> overview and start <span class="app">Disks</span>.</p></li>
<li class="steps"><p class="p">In the list of storage devices on the left, you will find hard disks,
    CD/DVD drives, and other physical devices. Click the device you want to
    inspect.</p></li>
<li class="steps">
<p class="p">The right pane provides a visual breakdown of the volumes and
    partitions present on the selected device. It also contains a variety of
    tools used to manage these volumes.</p>
<p class="p">జాగ్రత్త: ఈ సౌలభ్యాలు ఉపయోగించి మీ డిస్కు పైని దత్తాంశంను పూర్తిగా తుడిచివేయుట కూడా సాధ్యమే.</p>
</li>
</ol></div></div></div>
<p class="p">మీ కంప్యూటర్ కనీసం ఒక <span class="em">ప్రాథమిక</span> విభజన మరియు ఒక <span class="em">swap</span> విభజన కలిగివుంటుంది. swap విభజన మెమొరీ నిర్వహణ కొరకు ఆపరేటింగ్ సిస్టమ్ చేత వుపయోగించబడును, మరియు అరుదుగా మౌంటగును. ప్రాథమిక విభజన మీ ఆపరేటింగ్ సిస్టమ్, అనువర్తనాలు, అమరికలు, మరియు వ్యక్తిగత ఫైళ్ళు కలిగివుంటుంది. భద్రత లేదా సౌలభ్యత కొరకు ఈ ఫైళ్ళు బహుళ విభజనల నందు పంపిణీచేయబడివుంటాయి.</p>
<p class="p">One primary partition must contain information that your computer uses to
  start up, or <span class="em">boot</span>. For this reason it is sometimes called a boot
  partition, or boot volume. To determine if a volume is bootable, select the
  partition and click the menu button in the toolbar underneath the partition
  list. Then, click <span class="gui">Edit Partition…</span> and look at its
  <span class="gui">Flags</span>. External media such as USB drives and CDs may also contain
  a bootable volume.</p>
</div></div>
</div></div>
<div class="sect sect-links" role="navigation">
<div class="hgroup"></div>
<div class="contents"><div class="links guidelinks"><div class="inner">
<div class="title"><h2><span class="title">మరింత సమాచారం</span></h2></div>
<div class="region"><ul><li class="links ">
<a href="disk.html.te" title="డిస్కులు మరియు నిల్వ">డిస్కులు మరియు నిల్వ</a><span class="desc"> — <span class="link"><a href="disk-capacity.html.te" title="ఎంత డిస్కు జాగా మిగిలివుందో పరిశీలించు">డిస్కు జాగా</a></span>, <span class="link"><a href="disk-benchmark.html.te" title="మీ హార్డు డిస్కు యొక్క పనితనం పరిశీలించండి">పనితనం</a></span>, <span class="link"><a href="disk-check.html.te" title="హార్డు డిస్కు సమస్యలను పరిశీలించండి">సమస్యలు</a></span>, <span class="link"><a href="disk-partitions.html.te" title="వాల్యూమ్లు మరియు విభజనలు నిర్వహించుము">వాల్యూమ్లు మరియు విభజనలు</a></span>…</span>
</li></ul></div>
</div></div></div>
</div>
</div>
<div class="clear"></div>
</div>
<div id="pagebottom"></div>
</div></div>
</div>
<div id="footer">
<p style="padding-bottom: 0.4em">You can choose the <b>displayed language</b> by adding a language suffix to the web address so it ends with e.g. <tt>.html.en</tt> or <tt>.html.de</tt>.<br>
          If the web address has no language suffix, the preferred language specified in your web browser's settings is used. For your convenience:<br>

          [ <a title="English page version" href="#" onClick="englishPageVersion();">Change to English Language</a> | 
          <a title="Language selected by browser" href="#" onClick="browserPreferredLanguage()">Change to Browser's Preferred Language</a> ]</p>
<p>The material in this document is available under a free license, see <a href="../../legal.html">Legal</a> for details.<br>
          For information on contributing see the <a href="https://wiki.ubuntu.com/DocumentationTeam">Ubuntu Documentation Team wiki page</a>.
          To report errors in this documentation, <a href="https://bugs.launchpad.net/ubuntu/+source/ubuntu-docs">file a bug</a>.</p>
</div>
</div>
</body>
</html>
